# ==========================================
# KREDENSIAL & FILE RAHASIA
# ==========================================
**/.env
**/.env.*
!**/.env.example

# ==========================================
# DEPENDENSI (NODE.JS & PYTHON)
# ==========================================
**/node_modules/
**/venv/
**/.venv/
**/env/

# ==========================================
# HASIL BUILD, OUTPUT & CACHE
# ==========================================
**/dist/
**/build/
**/.astro/
**/__pycache__/
**/*.pyc

# ==========================================
# FILE SISTEM OPERASI & IDE/EDITOR
# ==========================================
.DS_Store
Thumbs.db
**/.vscode/
**/.idea/
